@media only screen
and (min-width: 1200px)
and (max-width: 1599) {

}





/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
    .brand-logo {
      font-size: 25px !important;
    }

    .logo-pa {
        padding: 10px;
    }

    .logo-pa img {
        width: 260px !important;
    }

    #sidenav-overlay {
        display: none !important;
    }


    /*** LINE ***/

    .m2 {
        width: 100% !important;
    }

    .card {
        width: 70%;
        margin: 0 auto  20px auto;
        display: block;
    }


    /*** MODAL ***/

    .overlay {
        display: none;
    }

    .tabs li a {
      font-size: 16px !important;
      padding: 0 !important;
    }

    .skill {
        text-align: left !important;
    }

    #config p,
    #config2 p,
    #config3 p,
    #config4 p,
    #config5 p {
        text-align: left;
    }

    #buten img,
    #rzao img {
        margin-bottom: 10px;
    }


    /*** MAPA ***/

    .mapa h3 {
        margin-bottom: 0;
    }

    .download {
        padding-top: 0 !important;
    }


    /****** PENEIRA ******/

    .requisitos {
        border-right: none;
        margin-top: 20px;
        margin-bottom: 20px;
    }



    /****** GALERIA ******/

    .fotos .row {
        width: 100%;
    }
}