<div class="noticias-page">
    <div parallax [config]="{ratio: .5}" class="content-25" id="noticias-parallax">
        <div class="overlay"></div>
        <div class="container">
            <h1 class="text-center text-uppercase mb-15">Notícias</h1>
        </div>
    </div>
    <div class="container content-50">
        <div class="d-flex h-center" *ngIf="loader">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
        <div *ngIf="!loader">
            <div class="row">
                <div class="col-12 col-md-3 offset-md-1 order-md-2 filtros">
                    <h3 class="text-uppercase">Filtrar por</h3>
                    <mat-form-field class="mt-30 mb-15">
                        <input matInput placeholder="Texto" [(ngModel)]="textFilter">
                    </mat-form-field>
                    <mat-form-field class="mb-15">
                        <mat-label>Autor</mat-label>
                        <mat-select [(ngModel)]="autorFilter">
                            <mat-option selected value="">Todos</mat-option>
                            <mat-option *ngFor="let x of noticias | uniq:'autor'" [value]="x.autor">{{x.autor}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-8 order-md-1">
                    <div class="alert alert-warning" [innerHTML]="errorMsg" *ngIf="errorMsg"></div>
                    <mat-card matRipple (click)="openNews(x)" class="box-noticia mb-30" *ngFor="let x of noticias | orderBy:['createdAt']:['desc'] | filterBy:['conteudo', 'titulo', 'autor']:textFilter | filterBy:['autor']:autorFilter">
                        <div class="row">
                            <div class="col-12 col-md-3">
                                <div class="box-image">
                                    <img [src]="x.img">
                                </div>
                            </div>
                            <div class="col-12 col-md-9">
                                <div class="box-stacked">
                                    <div class="box-content">
                                        <h3>{{x.titulo}}</h3>
                                        <p [innerHTML]="(x.conteudo.length > 120) ? (x.conteudo | slice:0:120)+'...' : (x.conteudo)"></p>
                                    </div>
                                    <div class="box-action">
                                        <p><span>Postado em: {{x.createdAt | date: 'dd/MM/yyyy'}} por {{x.autor}}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>