<div class="navbar-fixed">
    <nav id="content">
        <div class="nav-wrapper">
            <div class="container">
                <a href="" class="brand-logo" ng-click="vm.goToSection('')">PAU AMARELO</a>
                <a href="#" data-activates="mobile-demo" data-sidenav="left" data-closeonclick="true" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li id="nav-line"><a href="#line" du-scrollspy ng-click="vm.goToSection('#line')">Line Up</a></li>
                    <li><a href="#mapa" du-scrollspy ng-click="vm.goToSection('#mapa')">Mapa</a></li>
                    <li><a href="#peneira" du-scrollspy ng-click="vm.goToSection('#peneira')">Peneira</a></li>
                    <li><a ui-sref="galeria" ng-class="{'active': $state.includes('galeria')}">Galeria</a></li>
                    <li><a ui-sref="noticias" ng-class="{'active': $state.includes('noticias')}">Notícias</a></li>
                </ul>
            </div>
            <ul class="side-nav section" id="mobile-demo">
                <li><a href="#line" du-scrollspy ng-click="vm.goToSection('#line')">Line Up</a></li>
                <li><a href="#mapa" du-scrollspy ng-click="vm.goToSection('#mapa')">Mapa</a></li>
                <li><a href="#peneira" du-scrollspy ng-click="vm.goToSection('#peneira')">Peneira</a></li>
                <li><a ui-sref="galeria" ng-class="{'active': $state.includes('galeria')}">Galeria</a></li>
                <li><a ui-sref="noticias" ng-class="{'active': $state.includes('noticias')}">Notícias</a></li>
            </ul>
        </div>
    </nav>
</div>