<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">PAU AMARELO</h5>
                <p class="grey-text text-lighten-4">O maior clan da parte Sul/Sudeste do Brasil.</p>
            </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Social</h5>
            <ul>
                <a class="grey-text text-lighten-3 steam" target="_blank" href="http://steamcommunity.com/groups/sitiodopicapau">
                    <li class="wow flipInY" data-wow-delay="0.1s"><i class="fa fa-steam" aria-hidden="true"></i></li>
                </a>
                <a class="grey-text text-lighten-3 facebook" href="#!">
                    <li class="wow flipInY" data-wow-delay="0.2s"><i class="fa fa-facebook" aria-hidden="true"></i></li>
                </a>
                <a class="grey-text text-lighten-3 youtube" href="#!">
                    <li class="wow flipInY" data-wow-delay="0.3s"><i class="fa fa-youtube-play" aria-hidden="true"></i></li>
                </a>
                <a class="grey-text text-lighten-3 twitch" href="#!">
                    <li class="wow flipInY" data-wow-delay="0.4s"><i class="fa fa-twitch" aria-hidden="true"></i></li>
                </a>
            </ul>
        </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col s6">
                    <p>PAU AMARELO ©2014 - {{hoje}}</p>
                </div>
                <div class="col s6">
                    <p class="grey-text text-lighten-4 right">Created by <a target="_blank" href="https://brdppl.github.io/site/">brd</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>