<div class="galeria">
    <div class="parallax-container scrollspy">
        <div parallax><img src="images/galeria.jpg" style="filter: blur(5px);"></div>
        <div class="logo-pa">
            <h1 class="wow fadeInLeft">Galeria Pau Amarelo</h1>
        </div>
    </div>
    
    <div class="section white">
        <div class="container">
            <ul class="gallery-filter mb-50">
                <li><a href="" class="waves-effect waves-light btn-large" ng-class="{'active': !vm.playerActive}" ng-click="vm.filtrar('')">Todos</a></li>
                <li ng-repeat="x in vm.integrantes">
                    <a href="" class="waves-effect waves-light btn-large" ng-class="{'active': vm.playerActive === x.nick}" ng-click="vm.filtrar(x)">{{x.nick}}</a>
                </li>
            </ul>
            
            <div class="row">
                <div class="col s12 m3 mb-15" ng-repeat="x in vm.galeria | filter:{'integrante':vm.playerActive}">
                    <div class="box-img">
                        <img materialboxed src="images/loaader_circle_by_gleb.gif" lazy-img='{{x.foto}}' class="materialboxed" data-caption="{{:: x.legenda}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>