<!--CONTEUDO-->
<div class="parallax-container" id="top">
    <div class="parallax"><img src="images/banner.jpg"></div>
    <div class="logo-pa">
        <img src="images/logo.png" class="wow fadeIn">
        <h1 class="wow fadeInLeft">PAU AMARELO</h1>
        <h3 class="wow fadeInRight">O Maior Clan da parte Sul/Sudeste do Brasil.</h3>
    </div>
</div>

<!--HISTORIA-->
<div class="section white historia">
    <div class="row container">
        <h3 class="header wow fadeIn">História</h3>
        <p class="grey-text text-darken-3 lighten-3 wow fadeIn" data-wow-delay="0.2s">Inicialmente formado em 2014, o clan havia recebido a alcunha de Sítio do Pica-Pau Amarelo. Ao longo do tempo passou por reformulações (inclusive na line) e hoje é o maior clan da parte sul/sudeste do país. O PAU AMARELO causa estragos por onde passa, devastador e imponente, o clan conta com uma perfeita harmonia entre os jogadores – sempre muito unidos e confiantes – eles tem tudo que precisam para tornarem-se o maior clan de Counter-Strike: Global Offensive.</p>
    </div>
</div>

<div class="parallax-container" id="line">
    <div class="parallax"><img src="images/bg.png" style="filter: blur(4px);"></div>

<!--LINE UP-->
    <div class="line">
        <div class="container">
            <h3 class="wow fadeIn">Line up</h3>

        <!--PLAYERS-->
            <div class="row">

                <div class="col s12 m2 box-integrante wow fadeIn" data-wow-delay="0.{{$index}}s" ng-repeat="player in vm.players">
                    <div class="card" id="{{player.nick}}">
                        <div class="card-image">
                            <div class="box-img">
                                <img ng-src="{{player.foto}}">
                            </div>
                            <a class="btn-floating halfway-fab waves-effect waves-light red modal-trigger" data-target="modalPlayers" ng-click="vm.pegaDados(player)" modal><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <p>{{player.nome}} <br>"{{player.nick}}"<br> {{player.sobrenome}}</p>
                        </div>
                    </div>
                </div>

            </div><!--FIM PLAYERS-->
        </div><!--FIM CONTAINER-->
    </div><!--FIM LINE UP-->

<!--EX-INTEGRANTES-->
    <div class="container ex">
        <a class="waves-effect waves-light btn-large modal-trigger" data-target="modalExIntegrantes" modal>Ex-integrantes</a>
    </div><!--FIM EX-INTEGRANTES-->
</div><!--FIM PARALLAX CONTAINER-->


<!--MODAL-->
<div ng-include="'views/modals/modalPlayers.html'"></div>

<!--MODAL EX-INTEGRANTES-->
<div ng-include="'views/modals/modalExIntegrantes.html'"></div>

<!--MAPA-->
<div class="section white mapa" id="mapa">
    <div class="row container">
        <h3 class="header wow fadeInDown">Um mapa feito por quem entende<p class="linha center"></p></h3>
        <div carousel indicators="true" class="col s12 m6 wow fadeInLeft" ng-if="vm.carousel">
            <a class="carousel-item" ng-repeat="x in vm.mapa" href="#{{x.id}}!"><img ng-src="{{x.imagem}}"></a>
        </div>

        <div class="col s12 m6 download wow fadeInRight">
            <h4>Faça já o seu<h4>
            <a href="https://pauamarelo.000webhostapp.com/@/aim_pauamarelo_beta_v2.zip" target="_blank"><h4>Download</h4></a>
        </div>
    </div>
</div>

<!--PENEIRA-->
<div class="parallax-container peneira" id="peneira">
    <div class="parallax"><img src="images/peneira.jpg" style="filter: blur(4px);"></div>
    <h3 class="wow fadeIn">Peneira Pau amarelo</h3>

    <div class="container peneira wow fadeIn">
        <div class="row">
            <div class="col m6 requisitos wow fadeIn" data-wow-delay="0.2s">
                <ul>
                    <li ng-repeat="x in vm.requisitos"><span ng-bind-html="x.requisito"></span></li>
                </ul>
            </div>

            <div class="col m6 formulario wow fadeIn" data-wow-delay="0.4s">
                <h4>Inscrições</h4>

                <form ng-submit="vm.enviar(vm.peneira)">
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="first_name" ng-model="vm.peneira.nome" type="text" data-length="20" minlength="3" required="required">
                            <label for="first_name" data-error="Inválido" data-success="Válido">Nome</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">child_care</i>
                            <input id="first_name" ng-model="vm.peneira.idade" type="number" data-length="2" min="16" required="required">
                            <label for="first_name" data-error="Inválido" data-success="Válido">Idade</label>
                        </div>
                    </div>
                    <div class="row" style="margin-top: -20px;">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">email</i>
                            <input id="email" ng-model="vm.peneira.email" type="email" data-length="30" required="required">
                            <label for="email" data-error="Inválido" data-success="Válido">Email</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">star</i>
                            <select class="validate" ng-model="vm.peneira.patente" material-select watch>
                                <option selected disabled value="">Patente</option>
                                <option ng-repeat="x in vm.patentes" value="{{x.patente}}">{{x.patente}}</option>
                            </select>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea id="textarea1" ng-model="vm.peneira.mensagem" class="materialize-textarea" data-length="1024" minlength="3" required="required"></textarea>
                            <label for="textarea1" data-error="Inválido">Mensagem</label>
                        </div>
                        <button class="btn waves-effect waves-light right btn-large" type="submit" style="margin-top: 25px;">
                            <span ng-if="!vm.isLoading">
                                Enviar
                                <i class="material-icons right">send</i>
                            </span>
                            <span class="centraliza" ng-if="vm.isLoading">
                                <div class="preloader-wrapper small active">
                                    <div class="spinner-layer" style="border-color:#fff;">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="gap-patch">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
