// Presets
* {
    font-family: var(--primary-font);
}

.mt-15 {margin-top: 15px !important;}
.mt-30 {margin-top: 30px !important;}
.mt-50 {margin-top: 50px !important;}

.mb-15 {margin-bottom: 15px !important;}
.mb-30 {margin-bottom: 30px !important;}
.mb-50 {margin-bottom: 50px !important;}

@media only screen and (max-width: 767px) {
    .mt-xs-15 {margin-top: 15px !important;}
    .mt-xs-30 {margin-top: 30px !important;}
    .mt-xs-50 {margin-top: 50px !important;}

    .mb-xs-15 {margin-bottom: 15px !important;}
    .mb-xs-30 {margin-bottom: 30px !important;}
    .mb-xs-50 {margin-bottom: 50px !important;}
}

.content-25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.content-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.d-flex {
    display: flex;

    &.v-start {
        align-items: flex-start;
    }
    &.v-center {
        align-items: center;
    }
    &.v-end {
        align-items: flex-end;
    }

    &.h-start {
        justify-content: flex-start;
    }
    &.h-center {
        justify-content: center;
    }
    &.h-end {
        justify-content: flex-end;
    }
}

.btn-principal {
    background: var(--primary-color);
    color: #fff;
}

// Fonts
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

// Variables
:root {
    // Colors
    --primary-color: #667292;
    --font-color: #424242;

    // Fonts
    --primary-font: 'Abel', sans-serif;
    --second-font: 'Lobster', cursive;

    // Spinner
    .mat-progress-spinner circle, .mat-spinner circle {
        stroke: var(--primary-color);
    }

    // Tabs
    .mat-tab-label {
        .mat-tab-label-content {
            font-size: 18px;
            color: var(--primary-color);
        }
    }
    .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
        background: var(--primary-color);
    }
    mat-tab-body {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 18px;
    }
    .mat-tab-body .mat-tab-body-content {
        ul {
            hr {
                margin: 7px 0;
            }
        }
    }

    // Carousel
    mat-carousel {
        .carousel {
            .carousel-indicators {
                left: 0 !important;
                transform: translateX(0) !important;
                -webkit-transform: translateX(0) !important;

                .mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
                    background-color: rgba(255,255,255,.5);
                }

                .mat-flat-button.mat-primary[disabled], .mat-flat-button.mat-accent[disabled], .mat-flat-button.mat-warn[disabled], .mat-flat-button[disabled][disabled], .mat-raised-button.mat-primary[disabled], .mat-raised-button.mat-accent[disabled], .mat-raised-button.mat-warn[disabled], .mat-raised-button[disabled][disabled], .mat-fab.mat-primary[disabled], .mat-fab.mat-accent[disabled], .mat-fab.mat-warn[disabled], .mat-fab[disabled][disabled], .mat-mini-fab.mat-primary[disabled], .mat-mini-fab.mat-accent[disabled], .mat-mini-fab.mat-warn[disabled], .mat-mini-fab[disabled][disabled] {
                    background-color: #fff !important;
                }
            }
        }
    }

    // Inscrições
    .inscricoes {
        .mat-form-field-appearance-legacy .mat-form-field-label {
            color: #fff;
        }
        .mat-form-field-appearance-legacy .mat-form-field-underline {
            background: #fff;
        }
        .mat-form-field.mat-focused .mat-form-field-ripple {
            background: var(--primary-color);
        }
        .mat-select-value {
            color: #fff;
            font-size: 18px;
        }

        .btn-principal {
            mat-progress-spinner {
                width: 30px !important;
                height: 30px !important;

                svg {
                    width: 30px !important;
                    height: 30px !important;
                }
            }
        }
    }

    // Modal foto
    .modal-foto-bg {
        background: #292929;
    }
    .modal-foto-panel {
        height: 100%;
        position: relative;

        .box-modal {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        mat-dialog-container {
            padding: 0;
            background: none;
            box-shadow: none;
        }

        img {
            max-width: 100%;
            max-height: 90%;
        }

        p {
            height: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            font-size: 18px;
            color: #f5f5f5;
        }
    }

    // Filtros
    .filtros {
        .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
            color: var(--primary-color);
        }
        .mat-form-field.mat-focused .mat-form-field-ripple {
            background: var(--primary-color);
        }
        .mat-select-value {
            color: #fff;
            font-size: 18px;
        }
        .mat-select-value-text {
            color: rgba(0, 0, 0, 0.87);
        }
    }

    // Notícia
    .news-body {
        img {
            margin: 0 auto;
            display: block;
            width: 400px;
            max-width: 100%;
        }
    }

    // Partidas
    .partidas-page {
        .mat-content {
            width: 100%;
            height: 50px;
            justify-content: center;
        }
        .mat-expansion-indicator {
            display: none;
        }
    }
}