<div class="noticia-page">
    <div parallax [config]="{ratio: .5}" class="content-25" id="noticia-parallax" [style.background-image]="img">
        <div class="overlay"></div>
        <div class="container">
            <h1 class="text-center text-uppercase mb-15">{{noticia.titulo}}</h1>
        </div>
    </div>
    <div class="container content-50">
        <div class="d-flex h-center" *ngIf="loader">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
        <div *ngIf="!loader">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2 mb-50">
                    <p class="date-news">
                        <span>Postado em: {{noticia.createdAt | date: 'dd/MM/yyyy'}} por {{noticia.autor}}</span>
                    </p>
                    <div class="news-body" [innerHTML]="noticia.conteudo"></div>
                </div>
                <div class="col-12 col-md-8 offset-md-2">
                    <h3>Comentários</h3>
                    <disqus [identifier]="url"></disqus>
                </div>
            </div>
        </div>
    </div>
    <app-speed-dial-fab></app-speed-dial-fab>
</div>