<h1 mat-dialog-title class="text-center">EX-INTEGRANTES</h1>
<div mat-dialog-content>
    <mat-tab-group mat-stretch-tabs>
        <mat-tab *ngFor="let x of exIntegrantes" [label]="x.nick">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="over">
                            <img [src]="x.foto" class="img-fluid">
                            <a target="_blank" [href]="x.steam" class="overlay">
                                <div class="text">
                                    <p><fa-icon [icon]="faSteam"></fa-icon> {{x.nick}}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-9">
                        <ul class="list-unstyled">
                            <li><b>Função:</b> {{x.sobre.funcao}}</li><hr>
                            <li><b>Motivo:</b> {{x.sobre.motivo}}</li><hr>
                            <li><b>Clan atual:</b> {{x.sobre.clan}}</li><hr>
                            <li><b>Atuação:</b> {{x.sobre.atuacao}}</li><hr>
                            <li><b>Amigão:</b> {{x.sobre.amigao}}</li><hr>
                            <li><b>Contribuição:</b> {{x.sobre.contribuicao}}</li><hr>
                            <li><b>Curiosidades:</b> {{x.curiosidades}}</li><hr>
                            <li><b>Carreira:</b> {{x.sobre.carreira}}</li><hr>
                            <li><img class="rank" src="../../../assets/img/ranks/{{x.sobre.patente}}.png"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
<div mat-dialog-actions class="d-flex h-end">
    <button mat-button (click)="close()">Fechar</button>
</div>