h1 {
    font-family: var(--font-primary);
    font-size: 30px;
}

.over {
	position: relative;
    width: 100%;

    img {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        min-height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-decoration: none;
        font-family: var(--font-primary);
        font-size: 20px;
    }
    
    &:hover {
        .overlay {
            background-color: rgba(0, 0, 0, 0.8);
              opacity: 1;
        }
    }
}

.rank {
    width: 80px;
    margin-top: 5px;
    box-shadow: 0 0 15px 1px goldenrod;
}

button {
    outline: none;
    color: var(--font-color) !important;
    font-size: 18px;
}