<div>
  <mat-toolbar class="fixed-top">
      <div class="container">
        <button mat-icon-button class="btn-bars" (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <div class="brand">
          <a routerLink="/">
            {{title}}
          </a>
        </div>
        <div class="navbar-right">
          <a mat-button (click)="scrollToSection('#line')">Line Up</a>
          <a mat-button (click)="scrollToSection('#mapa')">Mapa</a>
          <a mat-button (click)="scrollToSection('#peneira')">Peneira</a>
          <a mat-button routerLink="/galeria" routerLinkActive="active">Galeria</a>
          <a mat-button routerLink="/noticias" routerLinkActive="active">Notícias</a>
          <a mat-button routerLink="/partidas" routerLinkActive="active">Partidas</a>
        </div>
      </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item (click)="scrollToSection('#line'); snav.toggle()">Line Up</a>
        <a mat-list-item (click)="scrollToSection('#mapa'); snav.toggle()">Mapa</a>
        <a mat-list-item (click)="scrollToSection('#peneira'); snav.toggle()">Peneira</a>
        <a mat-list-item routerLink="/galeria" routerLinkActive="active-xs" (click)="snav.toggle()">Galeria</a>
        <a mat-list-item routerLink="/noticias" routerLinkActive="active-xs" (click)="snav.toggle()">Notícias</a>
        <a mat-list-item routerLink="/partidas" routerLinkActive="active-xs" (click)="snav.toggle()">Partidas</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>

      <footer class="page-footer">
        <div class="container" style="padding-bottom: 20px;">
            <div class="row">
                <div class="col-12 col-md-6 mb-xs-30">
                    <h3>PAU AMARELO</h3>
                    <p>O maior clan da parte Sul/Sudeste do Brasil.</p>
                </div>
                <div class="col-12 col-md-4 offset-md-2">
                    <h3>Social</h3>
                    <ul class="list-unstyled d-flex v-center">
                        <a class="steam" target="_blank" href="http://steamcommunity.com/groups/sitiodopicapau">
                            <li><fa-icon [icon]="faSteam"></fa-icon></li>
                        </a>
                        <a class="facebook" href="#!">
                            <li><fa-icon [icon]="faFacebook"></fa-icon></li>
                        </a>
                        <a class="youtube" href="#!">
                            <li><fa-icon [icon]="faYoutube"></fa-icon></li>
                        </a>
                        <a class="twitch" href="#!">
                            <li><fa-icon [icon]="faTwitch"></fa-icon></li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <p>PAU AMARELO ©2014 - {{hoje}}</p>
                    </div>
                    <div class="col-6">
                        <p class="text-right">Created by <a target="_blank" href="https://brdppl.github.io/site/">brd</a></p>
                    </div>
                </div>
            </div>
        </div>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>